body, button, input, select, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    background: linear-gradient(to bottom, #353535, #1d1d1d);
    background-attachment: fixed;
    background-size: cover;
    color: #DCDDDE;
    display: flex;
    flex-direction: column;
    animation: gradient 10s ease infinite;
    height: 100%;
    z-index: 1;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 75%;
    }
    100% {
      background-position: 75% 100%;
    }
  }

  .back-link {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 1rem;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }
  
  .left-arrow {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
  }
  